In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mutual_info_score
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Ridge
from sklearn.metrics import accuracy_score

In [2]:
df_full = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv")

In [3]:
df_full.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [4]:
columns_to_keep = ['Make', 'Model', 'Year', 'Engine HP', 'Engine Cylinders', 'Transmission Type', 'Vehicle Style', 'highway MPG', 'city mpg', 'MSRP']

df = df_full[columns_to_keep]
df.head()

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,highway MPG,city mpg,MSRP
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500

In [5]:
df.columns = df.columns.str.replace(' ', '_').str.lower()
df

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,msrp
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995

In [6]:
df.rename(columns = {'msrp':'price'}, inplace = True) 
df

/var/folders/48/6kkqy4n53ps987p9rb9hff200000gn/T/ipykernel_38396/2343404594.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns = {'msrp':'price'}, inplace = True)

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995

In [7]:
# Which columns/features have NAs/Nulls?
df.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
price                 0
dtype: int64

In [8]:
# Replace NAs by zero
df.fillna(0, inplace=True)
df.isnull().sum()

/var/folders/48/6kkqy4n53ps987p9rb9hff200000gn/T/ipykernel_38396/2509678284.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.fillna(0, inplace=True)

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
price                0
dtype: int64

In [9]:
# Question 1: What is the most frequent observation (mode) for the column transmission_type?
df.transmission_type.value_counts()

transmission_type
AUTOMATIC           8266
MANUAL              2935
AUTOMATED_MANUAL     626
DIRECT_DRIVE          68
UNKNOWN               19
Name: count, dtype: int64

In [10]:
# AUTOMATIC is the most frequent observation (mode) for the column transmission_type.

In [11]:
# Question 2: What are the two features that have the biggest correlation in this dataset?
numerical = ['year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg', 'price']
cormat = df[numerical].corr(method='pearson')

In [12]:
cormat.style.background_gradient(cmap='coolwarm')

In [13]:
# Highest pairwise (Pearson) correlation is 0.886829, between 'highway_mpg' and 'city_mpg'

In [14]:
# Question 3. Which of these variables has the lowest mutual information score?

# Let's create a variable above_average which is 1 if the price is above its mean value and 0 otherwise.
df['above_average'] = (df.price > df.price.mean()).astype(int)
df['above_average']

/var/folders/48/6kkqy4n53ps987p9rb9hff200000gn/T/ipykernel_38396/2336839258.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['above_average'] = (df.price > df.price.mean()).astype(int)

0        1
1        1
2        0
3        0
4        0
        ..
11909    1
11910    1
11911    1
11912    1
11913    0
Name: above_average, Length: 11914, dtype: int64

In [15]:
df_for_training = df.copy()
del df_for_training['price']
categorical = ['make', 'model', 'transmission_type', 'vehicle_style']

df_full_train, df_test = train_test_split(df_for_training, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)
y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

In [16]:
for category in categorical:
    print(f'{category} : {round(mutual_info_score(df_train[category], y_train),2)}')

make : 0.24
model : 0.46
transmission_type : 0.02
vehicle_style : 0.08

In [17]:
# 'transmission_type' has the lowest mutual info with 'above average'

In [18]:
df_train

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg
3972,Mitsubishi,Endeavor,2011,225.0,6.0,AUTOMATIC,4dr SUV,19,15
1997,Kia,Borrego,2009,276.0,6.0,AUTOMATIC,4dr SUV,21,17
5216,Lamborghini,Gallardo,2012,570.0,10.0,MANUAL,Convertible,20,12
2805,Chevrolet,Colorado,2016,200.0,4.0,AUTOMATIC,Crew Cab Pickup,27,20
11369,Pontiac,Vibe,2009,158.0,4.0,AUTOMATIC,4dr Hatchback,26,20
...,...,...,...,...,...,...,...,...,...
9232,Toyota,Sienna,2016,266.0,6.0,AUTOMATIC,Passenger Minivan,25,18
5710,Chevrolet,HHR,2009,260.0,4.0,MANUAL,Wagon,29,21
11306,Hyundai,Veracruz,2012,260.0,6.0,AUTOMATIC,4dr SUV,22,17
4414,Mitsubishi,Expo,1993,136.0,4.0,MANUAL,2dr Hatchback,26,19
10286,Ford,Taurus,2015,365.0,6.0,AUTOMATIC,Sedan,25,17

In [19]:
# Question 4: What accuracy did you get?
numerical = numerical[:-1] # Drop 'price' from features 

scaler = StandardScaler()
#scaler = MinMaxScaler()

X_train_num = df_train[numerical].values
X_train_num = scaler.fit_transform(X_train_num)

ohe = OneHotEncoder(sparse=False, handle_unknown='ignore')
X_train_cat = ohe.fit_transform(df_train[categorical].values)

X_train = np.column_stack([X_train_num, X_train_cat])

X_val_num = df_val[numerical].values
X_val_num = scaler.transform(X_val_num)

X_val_cat = ohe.transform(df_val[categorical].values)

X_val = np.column_stack([X_val_num, X_val_cat])

model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_val)
original_accuracy = round(accuracy_score(y_val, y_pred),2)
print(f"Accuracy on the validation dataset: {original_accuracy}")

/Users/rileen/anaconda3/envs/ml-zoomcamp/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Accuracy on the validation dataset: 0.95

In [20]:
# We get accuracy = 0.95 (nearest among options provided)

In [21]:
# Question 5: Which of following feature has the smallest difference?

# print (f'Accuracy with all features: {round(original_accuracy,3)}')

drops = {}

for category in categorical:
    
    c = categorical.copy()
    c.remove(category)

    scaler = StandardScaler() #scaler = MinMaxScaler()
    X_train_num = df_train[numerical].values
    X_train_num = scaler.fit_transform(X_train_num)
    
    ohe = OneHotEncoder(sparse=False, handle_unknown='ignore')
    X_train_cat = ohe.fit_transform(df_train[c].values)
    X_train = np.column_stack([X_train_num, X_train_cat])
    
    X_val_num = df_val[numerical].values
    X_val_num = scaler.transform(X_val_num)
    
    X_val_cat = ohe.transform(df_val[c].values)
    X_val = np.column_stack([X_val_num, X_val_cat])

    model.fit(X_train, y_train)

    y_pred = model.predict_proba(X_val)[:, 1]
    above_avg = y_pred > 0.5
    
    accuracy_without_category = (y_val == above_avg).mean()
    change_in_accuracy = original_accuracy - accuracy_without_category
    
    drops[category] = change_in_accuracy
    
    #print(f'{category} : Accuracy without feature: {round(accuracy_without_category,6)}\t Drop in accuracy: {round(change_in_accuracy, 7)}')

for num in numerical:
    n = numerical.copy()
    n.remove(num)

    scaler = StandardScaler() #scaler = MinMaxScaler()
    X_train_num = df_train[n].values
    X_train_num = scaler.fit_transform(X_train_num)
    
    ohe = OneHotEncoder(sparse=False, handle_unknown='ignore')
    X_train_cat = ohe.fit_transform(df_train[categorical].values)
    X_train = np.column_stack([X_train_num, X_train_cat])
    
    X_val_num = df_val[n].values
    X_val_num = scaler.transform(X_val_num)
    
    X_val_cat = ohe.transform(df_val[categorical].values)
    X_val = np.column_stack([X_val_num, X_val_cat])

    model.fit(X_train, y_train)

    y_pred = model.predict_proba(X_val)[:, 1]
    above_avg = y_pred > 0.5
    
    accuracy_without_category = (y_val == above_avg).mean()
    change_in_accuracy = original_accuracy - accuracy_without_category
    
    drops[num] = change_in_accuracy
    
    #print(f'{num} : Accuracy without feature: {round(accuracy_without_category,6)}\t Drop in accuracy: {round(change_in_accuracy, 7)}')
    
    drops_sorted = dict(sorted(drops.items(), key=lambda x: x[1]))
    drops_sorted

/Users/rileen/anaconda3/envs/ml-zoomcamp/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/rileen/anaconda3/envs/ml-zoomcamp/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/rileen/anaconda3/envs/ml-zoomcamp/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/rileen/anaconda3/envs/ml-zoomcamp/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/rileen/anaconda3/envs/ml-zoomcamp/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/rileen/anaconda3/envs/ml-zoomcamp/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/rileen/anaconda3/envs/ml-zoomcamp/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/rileen/anaconda3/envs/ml-zoomcamp/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/rileen/anaconda3/envs/ml-zoomcamp/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [22]:
drops_sorted

{'year': 0.0016156105749055572,
 'make': 0.0024548887956357124,
 'engine_cylinders': 0.0024548887956357124,
 'transmission_type': 0.0028745279060008455,
 'city_mpg': 0.0028745279060008455,
 'vehicle_style': 0.0037138061267310007,
 'highway_mpg': 0.004133445237096023,
 'engine_hp': 0.007490558120016755,
 'model': 0.017142257658413707}

In [23]:
# The smallest difference is for 'year' (out of 'year', 'engine_hp', 'transmission_type' and 'city_mpg')

In [24]:
# Question 6: Which of these alphas leads to the best RMSE on the validation set?

def rmse(y, y_pred):
    error = y_pred - y
    mse = (error ** 2).mean()
    return np.sqrt(mse)

In [25]:
df_for_linreg = df.copy()
del df_for_linreg['above_average']

df_full_train, df_test = train_test_split(df_for_linreg, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)
y_train = np.log1p(df_train.price.values)
y_val = np.log1p(df_val.price.values)
y_test = np.log1p(df_test.price.values)

del df_train['price']
del df_val['price']
del df_test['price']

train_dict = df_train[categorical + numerical].to_dict(orient='records')
# train_dict = df_train[numerical].to_dict(orient='records')


dv = DictVectorizer(sparse=True)
dv.fit(train_dict)
X_train = dv.transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

for a in [0, 0.01, 0.1, 1, 10]:

    ridge = Ridge(alpha=a,  solver='sag')
    ridge.fit(X_train, y_train)

    y_pred = ridge.predict(X_val)
    train_score = rmse(y_val, y_pred)
    print(f'val[{a}]:{round(train_score, 3)}')

val[0]:0.251
val[0.01]:0.255
val[0.1]:0.251
val[1]:0.258
val[10]:0.331

In [26]:
# alpha = 0 gives the lowest RMSE